<div class="d-flex flex-column justify-content-center align-items-center my-5">
  <h1>Editing Website</h1>

  <%= render 'form', website: @website %>

  <%# link_to 'Show', @website %>

  <%= link_to 'Back', websites_path, :class => 'mt-3' %>
</div>
