<body class="about">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <h1>Welcome!</h1>
        <%= image_tag '/profile.jpg', class: 'AboutImage' %>
        <p>
          Hi, I’m Brandon. I have created this space to show off a little of my personality and a few of my projects. 
          <br/>
          <br />
          Over the course of my working experience I have utilized various layers of the OSI model through internet and home network installation,
          computer maintenance and repair, virus removal and disk cleaning, office network management, and satellite communications using secure and non-secure encryption protocols. I am proud to now consider myself versed in multiple coding languages as well. 
          <br />
          <br />
          During my career I have repeatedly achieved distinction, for my service in the military and as a civilian, due to my attention to detail and quest for innovative solutions. Increasing the efficiency of my surrounding systems has been a driving force throughout my life and in software development I have found debugging code to be particularly satisfying. 
          <br />
          <br />
          So what issue is weighing on you the most at the moment? I would love the opportunity to help you in your next endeavor. Contact me now to discuss what I can do for you. 
          <br />
          <br />
          Thank you for your time, I look forward to hearing from you!
          <br/>
          <%= react_component 'ContactButton' %>
        </p>
        <%= react_component 'StackTable' %>
      </div>
      <br/>
      <span>
        <b>Resume:
        </b>
        <a href="/defoedeveloper.pdf">
          View Online</a>
        <a href="/defoedeveloper.pdf" download="BrandonDefoeDeveloper">
          Download</a>
      </span>
    </div>
  </main>
</body>