<body class="about">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <h1>Hello from me!</h1>
        <p>
          Hi, I’m Brandon. I have created this space to show off a little of my personality and a few of my projects. 
          <br/>
          <br />
          So far in my career I have utilized various layers of the OSI model through working experience in home internet installation,
          computer repair, virus removal, network management, and satellite communications. I am proud to now consider myself versed in multiple coding languages as well. 
          <br />
          <br />
          I have repeatedly achieved distinction in both the military and the private sector for my
          attention to detail and innovative solutions. Finding the answer to any problem has been a driving force in my life and in software development I have found debugging code to be particularly satisfying. 
          <br />
          <br />
          So what issue is weighing on you the most at the moment? I would love the opportunity to help you in your next endeavor. Contact me now to discuss what I can do for you. 
          <br />
          <br />
          Thank you for your time, I look forward to hearing from you!
        </p>
        <%= react_component 'StackTable' %>
      </div>
      <br/>
      <span>
        <b>Resume:
        </b>
        <a href="/defoedeveloper.pdf">
          View Online</a>
        <a href="/defoedeveloper.pdf" download="BrandonDefoeDeveloper">
          Download</a>
      </span>
    </div>
  </main>
</body>