<body class="about">
  <main class="d-flex justify-content-center align-items-center pl-5">
    <div class="d-flex flex-column justify-content-center align-items-center text-center ml-4 content">
      <div class="container d-flex flex-column me p-2">
        <h1>Hello from me!</h1>
        <!-- <div class="iframe-container"> <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" allow="gyroscope" allowfullscreen="allowfullscreen"></iframe> </div> -->
        <br>
        <p class="py-3 px-5 border border-warning">
          Hi, I’m Brandon. Currently, I am studying Full-Stack development through a remote development school called Microverse. So far in my career I have utilized various layers of the OSI model through working experience in home internet installation,
          computer repair, virus removal, network management, and satellite communications. I am proud to now consider myself versed in multiple coding languages as well. I have repeatedly achieved distinction in both the military and the private sector for my
          attention to detail and innovative solutions. Finding the answer to any problem has been a driving force in my life and in software development I have found debugging code to be particularly satisfying. I am eager to begin working as a web designer
          and software developer while aspiring towards a senior position with Cisco Systems. So what issue is weighing on you the most at the moment? I would love the opportunity to help you in your next endeavor. Contact me now to discuss what I can do for
          you. Thank you for your time, I look forward to hearing from you!</p>
      </div>
      <br/>
      <span class='py-2'>
        <b>Resume:
        </b>
        <a href="/defoedeveloper.pdf">
          View Online</a>
        <a href="/defoedeveloper.pdf" download="BrandonDefoeDeveloper">
          Download</a>
      </span>
    </div>
  </main>
</body>