<body class="chat">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <%= react_component 'dailyco' %>
      </div>
    </div>
  </main>
</body>
  <!-- <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <script>
    callFrame = window.DailyIframe.createFrame();
    callFrame.join({ url: 'https://defoebrand.daily.co/Brandon' });
  </script> -->
