<body class='home'>
  <% if notice %>
    <p class='notice'><%= notice %></p>
  <% end %>
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center ml-4">
      <h1 class='m-3'>Hello! I'm Brandon!</h1>
      <h3 class='m-3'>I'm a <span class='title-change'>coder</span></h3>
      <h5 class='m-3'>I love to <span class='interest-change'>debug code</span></h5>
      <p class='m-3'>How can I help you?</p>
    </div>
  </main>
</body>