<body class="portal">
<nav class="d-flex flex-column border border-dark col-1 justify-content-center align-items-center float-left bg-dark">
  <a href=""><span><i class="fa fa-home"></i></span></a>
  <a href=""><span><i class="fa fa-music"></i></span></a>
  <a href=""><span><i class="fa fa-question"></i></span></a>
  <a href=""><span><i class="fa fa-user"></i></span></a>
  <a href=""><span><i class="fa fa-rss"></i></span></a>
  <a href=""><span><i class="fa fa-spotify"></i></span></a>
  <a href=""><span><i class="fa fa-linkedin"></i></span></a>
  <a href=""><span><i class="fa fa-medium"></i></span></a>
  <a href=""><span><i class="fa fa-github"></i></span></a>
  <a href=""><span><i class="fa fa-gamepad"></i></span></a>
  <a href=""><span><i class="fa fa-code"></i></span></a>
  <!-- <span><i class="fa fa-d-and-d"></i></span> -->
  <!-- <span><i class="fa fa-brain"></i></span> -->
  <!-- <span><i class="fa fa-dragon border border-dark"></i></span> -->
</nav>
<div class="d-flex justify-content-center align-items-center">
  <div>
    <h1>Hello! I'm Brandon!</h1>
    <h3>I'm a coder</h3>
    <h5>I'm interested in debugging</h5>
    <!-- <p>Do you need</p>
    <button>a website?</button>
    <button>an employee?</button>
    <button>a tutor?</button> -->
    <p>How can I help you?</p>
    <button>I need a website</button>
    <button>I need an employee</button>
    <button>I need a tutor</button>
  </div>
</div>
<!-- <button type="button" name="button" class='btn-sm'>
  <img src="/pro-photo.jpg" alt="Brandon" class="img-thumbnail float-right w-50">
</button> -->

<!-- <div class="container border">
  <h1 class='m-3'>Hello World!</h1>
</div>

<nav class='d-flex flex-column flex-sm-row justify-content-center align-items-center border border-danger'>
<%# link_to 'Websites', websites_path %>
<br >
<%# link_to 'Games', games_path %>
<br >
<%# link_to 'Apps', apps_path %>
<br >
<a href="https://github.com/defoebrand">GitHub</a>
<a href="https://twitter.com/defoebrand">Twitter</a>
<a href="https://www.linkedin.com/in/defoebrand/">LinkedIn</a>
<a href="https://medium.com/@defoebrand">Medium</a>
</nav>

 <div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-9">

    </div>
    <div class="col-3">
    </div>

  </div>
</div>


<div class="container-fluid bg-warning">
  <div class="row">
    <div class="col-sm ml-5">
      One of three columns
    </div>
    <div class="col-md">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>-->

</body>
