<body class="video_chat">
  <main class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center text-center content">
      <div class="container d-flex flex-column me scroll">
        <%= react_component 'dailyco', uuid: @uuid %>
      </div>
    </div>
  </main>
</body>