<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Brandon!</h1>
    <p>This is <%= @contact.name %></p>
    <p><%= @contact.message %></p>
    <p>Please return this message to <%= @contact.email %></p>
  </body>
</html>
