<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have an incoming message <%= @contact.name %>!</p>
    <p><%= @contact.message %></p>
    <a href='https://www.defoebrand.com/video_chat'>Click to Enter Room</a>
    <!-- <h1>Welcome to example.com, <%# @contact.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%# @contact.name %>.<br>
      This is an html form
    </p>
    <p>
      To login to the site, just follow this link: <%# @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p><%# @contact.email %></p>
    <p><%#  @contact.message %></p> -->
  </body>
</html>