.about {
  a,
  h1 {
    color: white;
  }

  .me,
  b {
    color: #bfcbb9;
  }

  .content {
    padding: 15px;
    position: fixed;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;

    .me {
      min-width: 140px;
      overflow-y: auto;

      p {
        font-size: calc(10px + 0.5vw);
      }
    }
  }
}
