.about {
  a,
  h1 {
    color: white;
  }

  h1 {
    padding-top: 15px;
  }

  .me,
  b {
    color: #bfcbb9;
  }

  .content {
    padding: 15px;
    position: fixed;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;

    .me {
      min-width: 140px;
      overflow-y: auto;

      p {
        font-size: calc(10px + 0.5vw);
        font-weight: 700;
      }
    }
  }

  .AboutImage {
    width: 50%;
    border-radius: 50%;
    margin: 15px auto;
    min-width: 100px;
    max-width: 350px;
  }
}
