/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
// @import "bootstrap-sprockets";
// @import "bootstrap/scss/bootstrap";
@import "websites.scss";
@import "about.scss";
@import "apps.scss";
@import "games.scss";
@import "home.scss";
@import "web_form.scss";
@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  // background-color: black;
  background: rgb(175, 163, 177);
  // background: radial-gradient(circle, rgba(175, 163, 177, 1) 0%, rgba(52, 58, 64, 1) 100%);
  background: radial-gradient(circle, rgba(102, 87, 118, 1) 0%, rgba(40, 34, 46, 1) 100%);
}

main {
  height: 100vh;
  border: 1px solid #9c440e;
}

nav {
  height: 100vh;
  padding: 5px;
  top: 0;
  background: #1c1f22;
  // background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(152,152,152,1) 25%, rgba(175,163,177,1) 50%, rgba(152,152,152,1) 75%, rgba(52,58,64,1) 100%);
  // background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,58,64,1) 5%, rgba(152,152,152,1) 25%, rgba(175,163,177,1) 50%, rgba(152,152,152,1) 75%, rgba(52,58,64,1) 95%, rgba(0,0,0,1) 100%);
  border: 1px solid #9c440e;

  a {
    position: relative;
    // font-size: max(1%, 10px);
    font-size: calc(10px + 0.5vw);

    @media screen and (max-height: 375px) {
      font-size: calc(7.55px + 0.5vw);
    }

    @media screen and (max-height: 300px) {
      font-size: calc(5px + 0.5vw);
    }

    .fa,
    .fab,
    .fas {
      font-size: 2em;
      padding: 10px;
      text-shadow: 3px 3px #403446;
    }

    .fa:hover,
    .fab:hover,
    .fas:hover {
      filter: invert(100%);
    }

    .tipLeft {
      position: absolute;
      visibility: hidden;
      top: 15px;
      left: 65px;
      min-width: max-content;
      padding: 2px 5px;
      color: gray;
      font-weight: bold;
      background-color: white;
      border-radius: 5px;
    }

    .tipTop {
      position: absolute;
      visibility: hidden;
      top: 50px;
      left: 0;
      min-width: max-content;
      padding: 2px 5px;
      color: gray;
      font-weight: bold;
      background-color: white;
      border-radius: 5px;
    }
  }

  a:hover .tipLeft {
    visibility: visible;
  }

  a:hover .tipTop {
    visibility: visible;
  }

  .break-line {
    @media screen and (max-height: 475px) {
      display: none;
    }
  }
}

section.signIn {
  width: max-content;
  z-index: 3;

  .logout {
    font-family: Charming, serif;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .login {
    color: gray;
  }
}

.show-title {
  color: #bfcbb9;
}

.show-description {
  color: white;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.topBar {
  height: auto;
  width: 100vw;
}

.topRight {
  top: 7.5px;
  right: 7.5px;
}

.bottomLeft {
  bottom: 7.5px;
  left: 7.5px;
}

.navTop {
  margin-top: 35px;
  overflow: hidden;
  max-width: 100vw;
  max-height: calc(100vh - 35px);
}

.navLeft {
  margin-left: 50px;
  max-width: 100vw;
  max-height: 100vh;
  padding-right: 25px;
  top: 30px !important;
}

.shiftLeft {
  margin-left: 50px;
  height: 30px;
}

.shiftTop {
  top: 65px;
  left: 5px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  justify-content: flex-start !important;
  max-width: 25px;

  h1 {
    margin: 0;
  }
}

.chat {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white !important;
  font-size: calc(20px + 1vw);
}

.contact-btn {
  padding: 7.5px;
  border-radius: 4px;
  border: 1px solid lightgray;
  background-color: gray;
  color: white;
}
