/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
*/
// @import "bootstrap-sprockets";
// @import "bootstrap/scss/bootstrap";
@import "bootstrap";
@import "home.scss";
@import "websites.scss";
@import "games.scss";
@import "apps.scss";
@import "about.scss";

* {
  box-sizing: border-box;
}

body {
  // background-color: black;
  background: rgb(175,163,177);
  // background: radial-gradient(circle, rgba(175,163,177,1) 0%, rgba(52,58,64,1) 100%);
  background: radial-gradient(circle, rgba(102,87,118,1) 0%, rgba(40,34,46,1) 100%);
}

main {
  height: 100vh;
}

nav {
  height: 100vh;
  padding: 5px;
  top: 0;
  background: #1c1f22;
  // background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(152,152,152,1) 25%, rgba(175,163,177,1) 50%, rgba(152,152,152,1) 75%, rgba(52,58,64,1) 100%);
  // background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,58,64,1) 5%, rgba(152,152,152,1) 25%, rgba(175,163,177,1) 50%, rgba(152,152,152,1) 75%, rgba(52,58,64,1) 95%, rgba(0,0,0,1) 100%);
  border: 1px solid #9c440e;
  // overflow: hidden;

  a {
    position: relative;
    // font-size: max(1%, 10px);
    font-size: calc(10px + 0.5vw);

    .fa,
    .fab,
    .fas {
      font-size: 2em;
      padding: 10px;
      text-shadow: 3px 3px #403446;
    }

    .fa:hover,
    .fab:hover,
    .fas:hover {
      filter: invert(100%);
    }

    .tip {
      position: absolute;
      visibility: hidden;
      top: 15px;
      left: 65px;
      min-width: max-content;
      padding: 2px 5px;
      color: gray;
      font-weight: bold;
      background-color: white;
      border-radius: 5px;
    }

  }

  a:hover .tip {
    visibility: visible;
  }
}

main {
  border: 1px solid #9c440e;
}
