// Place all the styles related to the Portal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: Charming;
  src: url("/CHAR1B.TTF");
}
@font-face {
  font-family: Gotham;
  src: url("/GothamBook.ttf");
}
@font-face {
  font-family: Helvet;
  src: url("/HelveticaNeue Medium.ttf");
}
@font-face {
  font-family: Provical;
  src: url("/Provicali-w116n.ttf");
}

.home {
  section {
    width: max-content;
    top: 0;
    right: 0;
  }

  h1 {
    color: #c529d9;
  }

  h1,
  h3,
  h5 {
    font-family: Provical;
    text-shadow: 3px 3px #403446;
  }

  a {
    color: magenta;
  }

  button {
    // border-radius: 33%;
    border: 0;
    padding: 5px 10px;
    margin: 10px;
    font-weight: 700;
    background-color: lightgray;

    a {
      color: #241824;
      text-decoration: none;
    }
  }

  div {
    // background-color: black;
    // background-color: rgba(0, 0, 0, 0.15);
    background-color: transparent;
  }

  h3 {
    color: green;
  }

  p {
    color: white;
  }

  h5 {
    color: #48a9a6;
  }

  .logout {
    font-family: Charming;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .login {
    color: gray;
  }

  .content {
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
  }
}
