// Place all the styles related to the Portal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: Charming;
  src: url("/CHAR1B.TTF");
}
@font-face {
  font-family: Gotham;
  src: url("/GothamBook.ttf");
}
@font-face {
  font-family: Helvet;
  src: url("/HelveticaNeue Medium.ttf");
}
@font-face {
  font-family: Provical;
  src: url("/Provicali-w116n.ttf");
}

.home {
  section {
    width: max-content;
    top: 0;
    right: 0;
  }

  h1 {
    color: #c529d9;
  }

  h1,
  h3,
  h5 {
    font-family: Provical;
  }

  a {
    color: magenta;
  }

  button {
    border-radius: 33%;
    border: 0;
    padding: 5px 10px;
    margin: 10px;

    a {
      color: blue;
      text-decoration: none;
    }
  }

  div {
    background-color: black;
  }

  h3 {
    color: green;
  }

  p {
    color: white;
  }

  h5 {
    color: #48a9a6;
  }

  .logging {
    font-family: Charming;
  }

  .content {
    justify-content: space-around;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
  }
}
