// Place all the styles related to the Portal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.portal {
  h1 {
    color: rgb(197, 41, 217);
  }

  a {
    color: magenta;
  }

  div {
    background-color: black;
  }

  h3 {
    color: green;
  }
}
