.web_form {
  main {
    h1,
    p,
    label {
      color: #bfcbb9;
    }

    h1 {
      margin-top: 150px;
    }

    form {
      padding: 15px;
      padding-bottom: 25px;
    }
  }

  .navLeft {
    margin-bottom: 15px !important;
    overflow-y: scroll !important;
    padding-top: 50px;
  }
}
